<!doctype html>
<html lang="uk">
	<head>
		{% load static %}
		<meta name="author" content="Ляля Іван">
		<title>RivneRent - оренда автомобілів у місті Рівне</title>
		<link rel="icon" href="{% static 'materials/icon.png' %}">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<script src="{% static 'getBookings.js' %}"></script>
		<script src="{% static 'logOut.js' %}"></script>
	</head>
	<body id="employee_page" onload="getBookings('?employee=true');	setInterval(function() { getBookings('?employee=true', first=false); }, 30000);">
		{% csrf_token %}
		<div id='page_content'>
			<header>
				<h1>
					<img src="{% static 'materials/icon.png' %}"> RivneRent - сервіс оренди автомобілів у м.Рівне
					<img src="{% static 'materials/logout.png' %}" id='log_out' onclick="log_out()">
				</h1>
				<nav>
					<a href="index.html">Головна</a>
					<a href="cars.html">Перелік авто</a>
					<a href="rules.html">Правила та умови</a>
					<a href="about_us.html">Про нас</a>
				</nav>
			</header>
			<main>
				<table id="filters" align='center' bgcolor='white' width='75%' border='1' cellpadding='10' onclick="filter(employee_page=true)">
				    <tr>
				    	<td id='status_selected'>Нові</td>
				    	<td>Потребують підтвердження</td>
				    	<td>Отримання сьогодні ({{ today|date:"d.m" }})</td>
				    	<td>Повернення сьогодні ({{ today|date:"d.m" }})</td>
				    </tr>				    
				</table>
				<a id="archive" href="archive.html?all=true" title="Перейти до архіву бронювань"><img src="{% static 'materials/archive.png' %}" height="60px"></a>
				<table id='bookings' align='center' bgcolor='white' cellpadding='15' cellspacing="0">
					<thead>
						<tr>
							<td class="id_width">№</td>
							<td>ПІБ</td>
							<td>email</td>
							<td>Телефон</td>
							<td class="max_content_width">Дата оренди</td>
							<td class="max_content_width">Термін оренди</td>
							<td>Авто</td>
						</tr>
					</thead>
					<tbody id='bookings_list'></tbody>
				</table>
			</main>
			<footer>
				<p>
					Copyright © 2023 Іван Ляля. Всі права захищені.<br>
					Підтримка: <a href="mailto:lyalyaivan2004@gmail.com">lyalyaivan2004@gmail.com</a>
				</p>
	    	</footer>
	    </div>
	    <div id='bookings_modal'>
			<div id='modal_header'>
				Бронювання № <span id='booking_id'></span>&nbsp;(<span id='booking_status'></span>)
				<button id='close_button' onclick="close_modal()">&times;</button>
			</div>
			<div id='modal_body'>
				<aside>
					<p>Сума до оплати:<br><span id='price'></span></p>
					<p>Знижка:<br><span id='discount'></span></p>
					<p>Задаток:<br><span id='mortgage'></span></p>
					<p>Додаткові послуги:<br>
						<span id='gps'></span>
						<span id='child_seat'></span>
						<span id='delivery'></span>
					</p>
				</aside>
				<p>Бронювання здійснене: <span id='creation_time'></span></p>
				<p>Повне ім'я клієнта: <span id='full_name'></span></p>
				<p>Номер телефону: <span id='phone_number'></span></p>
				<p>Email: <span id='email'></span></p>
				<p>Автомобіль: <span id='car'></span></p>
				<p>Дата отримання авто: <span id='acquisition_date'></span></p>
				<p>Термін прокату: <span id='rental_term'></span></p>
				<button id='confirm_booking' class='modal_button'></button>
				<button id='failed_to_connect' class='modal_button'>Не вдалося зв'язатися</button>
				<button id='cancel_booking' class='modal_button'></button>
			</div>
		</div>
	</body>
</html>