<!doctype html>
<html lang="uk">
	<head>
		{% load static %}
		<meta name="author" content="Ляля Іван">
		<title>Вхід</title>
		<link rel="icon" href="{% static 'materials/icon.png' %}">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>
	<body id="auth_page">
		<header>
			<h1><img src="{% static 'materials/icon.png' %}"> RivneRent - сервіс оренди автомобілів у м.Рівне</h1>
			<nav>
				<a href="index.html">Головна</a>
				<a href="cars.html">Перелік авто</a>
				<a href="rules.html">Правила та умови</a>
				<a href="about_us.html">Про нас</a>
			</nav>
		</header>
		<main>
			<form id="sign_in_form" onmouseover="this.classList.add('mouse_over_form');">
				{% csrf_token %}
				<h2>Авторизація</h2>
				<label for="username">Логін:</label>
			    <input type="text" name="username" id="username" required><br>
			    <label for="password">Пароль:</label>
			    <input type="password" name="password" id="password" required><br>
			    <input type="submit" value="Увійти" id="submit_btn">
			</form>
		</main>
		<footer>
			<p>
				Copyright © 2023 Іван Ляля. Всі права захищені.<br>
				Підтримка: <a href="mailto:lyalyaivan2004@gmail.com">lyalyaivan2004@gmail.com</a>
			</p>
    	</footer>
  		<script>
  			// check whether the user is already authorized when the page is shown
			window.addEventListener('pageshow', function() {
			    const authToken = sessionStorage.getItem('rivnerent_auth_token'); // get authorization token from sessionStorage
			    if (authToken) {
					// do fetch-request that checks authorization
			        fetch(`login/`, {
			            method: 'GET',
			            headers: {
				            'Authorization': `Bearer ${authToken}`,
				        }
			        })
			        .then(response => response.json())
			        .then(data => {
			            if (data.authorized){ // if server returns the user as authorized, redirect user
			            	redirect(data.role, token=authToken);
			            }
			        })
			        .catch(error => {
			            window.alert('Не вдалося перевірити сесію авторизації. Введіть свій логін та пароль або спробуйте пізніше.');
			        });
			    }
			});

  			// login processing when form is submitted
  			sign_in_form.addEventListener('submit', function(e) {
  				e.preventDefault(); // cancel default onsubmit action
				const csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value; // get CSRF-token from corresponding input
		        // do fetch-request that authorizes or rejects user depending on entered username and password
				fetch('login/', {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/json',
						'X-CSRFToken': csrftoken
		            },
		            body: JSON.stringify({
		                username: sign_in_form.username.value,
		                password: sign_in_form.password.value
		            }) // makes a JSON string from username and password values
		        })
		        .then(response => response.json())
		        .then(data => {
		            if (data.message === 'Успішний вхід') { // authorize user is server returns ok
		            	sessionStorage.setItem('rivnerent_auth_token', data.token);
		                redirect(data.role, data.token);
		            } else { // alert user about failed authorization if server doesn't return ok
		                alert(data.message);
		            }
		        })
		        .catch(error => {
		            window.alert("Виникли проблеми при спробі встановити зв'язок з сервером. Вибачте за тимчасові незручності!");
		        });
			})

  			/**
			 * This function redirects user depending on its role
			 * @param role - String with user's role
			 * @param token - String with user's authorization token
			 */
  			function redirect(role, token){
  				if (role === 'admin'){
  					window.location.href=`administration.html?token=${token}`;
  				} else{
                	window.location.href='bookings.html';
                }
			}
  		</script>
	</body>
</html>